/* Custom CSS */

/* Intro Section CSS -START- */
/* .intro {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url(pics/jcb-background-img2.jpg);
  background-size: contain;
  background-repeat: round;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container {
  height: 40%;
  width: 70%;
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 60px -10px rgba(250, 34, 34, 0.712);
}
.intro a {
  color: rgb(255, 255, 255) !important;
  border: 3px solid black !important;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.3);
}
section > header {
  font-size: 3em;
  font-weight: 700;
  width: 100%;
}
section > h2 {
  margin: 20px 0;
}
/* Intro Section CSS -END- */

/* Projects section CSS -START- */
#projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.work > .my-project {
  margin: 20px 10px;
  text-align: center;
  height: 350px;
  width: 350px;
}
.work > .my-project > article {
  height: 90%;
}
.pBall-picker {
  background-image: url(pics/powerBall-picker.png);
  background-size: cover;
}
.rgb-picker {
  background-image: url(pics/color-picker.png);
  background-size: contain;
}
.project3 {
  background-image: url(pics/under-construction.jpg);
  background-size: cover;
}
.my-project > a {
  text-decoration: none;
}
/* Poject Section CSS -END- */

/* About Section CSS -START- */

.tools > img {
  width: 100px;
  height: 100px;
  display: block;
}
.tools > .html5 {
  background-color: #e34c26;
  width: 100vw;
}
.tools > .css {
  background-color: #264de4;
  width: 100vw;
}
.tools > .js {
  background-color: #f0db4f;
  width: 100vw;
}
.tools > .bootstrap {
  background-color: #563d7c;
  width: 100vw;
}
.tools > .github {
  background-color: #6cc644;
  width: 100vw;
}
.tools > .git {
  background-color: #3e2c00;
  width: 100vw;
}
.bio > ul > li {
  list-style-type: none;
  font-size: 1.5em;
}
/* About Section CSS -END- */

/* Contact Section CSS -START- */
.contact > .my-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact > .my-container > a > img {
  width: 100px;
  height: 100px;
}
/* Contact Section CSS -END- */
